{% extends 'base.html' %}

{% load static %}

{% block content %}

    <center style="font-family:'Nerko';color:#9854AA;text-align:center;background-color: whitesmoke; margin: 50px"><h1><b>CONTACT US</b></h1></center>

        <div class="container">
            <div class="card-container">
                <div class="left">
                    <div class="left-container">
                        <h2 style="color:whitesmoke">Tentang Kami</h2>
                        <p style="color:whitesmoke;font-size:18px">Dream Courses adalah website yang menyediakan bimbingan belajar online bagi para pelajar tingkat SMA/Sederajat.</p>
                        <br>
                        <p style="color:whitesmoke;font-size: 20px">Yuk Kepoin Dream Courses!</p>
                    </div>
                </div>
                <div class="right">
                    <div class="right-container">
                        <form action="">
                            <h2>Hubungi Kami</h2>
                            <input type="text" placeholder="Nama">
                            <input type="email" placeholder="Alamat Email">
                            <input type="text" placeholder="Perusahaan">
                            <input type="phone" placeholder="Telephone">
                            <textarea rows="10" placeholder="Pesan"></textarea>
                            <button>Kirim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="welcome" style="text-align:justify">
         
            <br><br>
    
            <section class="service">
                <div class="isi" style="color:white;margin:0 20px">
    
                    <h2 style="font-size:50px" style="font-family: 'Nerko'"><b>DreamCourses</b></h2>
                    <span>Bimbingan Belajar Online Berkualitas</span>
    
                    <br><br>
                    <span><img src="/static/images/logowa.png">
                        <h6><b>Whatsapp</b></h6></span>
                        <span><img src="/static/images/instagram.png">
                        <h6><b>Instagram</b></h6></span>
                    <span><img src="/static/images/twitter.png">
                        <h6><b>Twitter</b></h6></span>
                </div>
    
            </section>
        </div>
        </div>

       

        
    </div>

{% endblock %}


